<h1>Show Post</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= raw @post.body %>
  </li>

  <li>
    <strong>Published at:</strong>
    <%= @post.published_at %>
  </li>

</ul>

<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
