/* This file is for your main application css. */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}